/config.json

/configs/multi_gpml/GPML_generator_dump.json

/test_outputs/
/cellplaza/

/.idea/workspace.xml
/.idea/inspectionProfiles/

/logs/
/out/
/target/
/results/raw/
/results/stats/
/results/imgs/

/eva/config.js

/eva/foolship/evaLog/
/eva/tomkraft/evaLog/

/eva/cellplaza/evaLog/
/eva/cellplaza/mini_10/indivs/
/eva/cellplaza/mini_50/indivs/
/eva/cellplaza/mini_100/indivs/
/eva/cellplaza/stred_50/indivs/


/tex/readme.aux
/tex/readme.dvi
/tex/readme.log
/tex/readme.out
/tex/readme.pdf
/tex/readme.synctex.gz
/tex/readme.toc

/results/A_*.plt
/results/S_*.plt
/results/R_*.txt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
